@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}
/*  SideBar part Style */

.stack-index {
  display: flex;
  min-height: 85vh;
  min-width: fit-content;
}

.stack-index-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sidebar {
  display: flex;
  padding: 20px 0px 10px 10px;
  height: 100%;
  flex: 0.5;
  max-width: 200px;
  border-right: 1px solid #ccc;
}

.sidebar-container {
  margin: 20px 0;
  display: flex;
  width: 100%;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.sidebar-option {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

a:hover {
  color: #000;
}

.sidebar-option > p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.link {
  display: flex;
  flex-direction: column;
}

.link-tag {
  display: flex;
  align-items: center;
  padding: 5px 0;
  width: 100%;
}

.link-tag:hover {
  border-right: 5px solid rgba(245, 162, 9);
}

.link-tag > i {
  font-size: 18px;
  margin-right: 5px;
  color: rgba(245, 162, 9);
}

.tags {
  margin: 0px 20px;
}

/* Main Part Css */

.main {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  padding: 20px 5px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main-top > h2 {
  font-weight: 600;
  font-size: 25px;
}

button {
  padding: 10px;
  background-color: #0095ff;
  color: #fff;
  border: 2px solid rgb(69, 73, 70);
  border-radius: 3px;
  cursor: pointer;
}

.main-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  padding: 0px 0px 10px 0px;
  margin-top: 10px;
}

.main-filter {
  display: flex;
  align-items: center;
}

.main-tabs {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-right: 20px;
  border-radius: 3px;
  align-items: center;
}

.main-tab:nth-child(1) {
  border-right: 1px solid rgb(124, 124, 131);
  padding: 5px;
}

.main-tab:nth-child(2) {
  border-right: 1px solid rgb(124, 124, 131);
  padding: 5px;
}

.main-tab:nth-child(3) {
  padding: 5px;
}

.main-filter-item {
  display: flex;
  padding: 5px;
  align-items: center;
  border: 1px solid #0095ff;
  border-radius: 3px;
  background-color: #007cd446;
  font-size: small;
  color: #007cd4;
  cursor: pointer;
}

.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid rgb(129, 123, 123);
}

.all-questions {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgb(128, 121, 121);
}

.all-questions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.all-questions-left {
  display: flex;
  margin-right: 30px;
}

.all-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: small;
}

.all-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.all-option > p {
  font-size: large;
}

.question-answer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-answer > a {
  color: #0151f0d8;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.question-answer > a:hover {
  color: #022772d8;
}

.questions-types {
  display: flex;
}

.question-tags {
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: #a9c1f0;
  border-radius: 3px;
}

.author {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
}

.author > small {
  color: #0151f0d8;
}

.author-details i {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 5px;
  background-color: #6dc1fd;
}

/* MEDIA Query */

@media screen and (min-width: 768px) {
  .main {
    flex: 0.6;
  }
}
