* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

body {
    /* background-color: #dee1e2; */
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(221, 222, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.logo {
    color: #333;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.group {
    display: flex;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li a {
    position: relative;
    font-size: 1.1em;
    color: #333;
    letter-spacing: 0.1em;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

header .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}


.searchBox {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.searchBox.active {
    right: 0;
}

.searchBox input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #333;
    font-size: 1.25em;
    background-color: #fff;
    border-bottom: 2px solid rgba(12, 9, 9, 0.05);
}

.searchBtn {
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}

.searchBtn.active {
    left: 0;
}

.closeBtn {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

.closeBtn.active {
    opacity: 1;
    visibility: visible;
    scale: 1;
}

.menuToggle {
    position: relative;
    display: none;
}


/* container */

.x_container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: max-content;
    box-sizing: inherit;
    line-height: 3.5rem;
}

.xx_container {
    /* padding-top: 90px;
    padding-bottom: 90px; */
    padding: 10rem 0 15rem 0;
    text-align: center;
    text-shadow: #212529;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
    background-color: white !important;
    height: 350px;
    border-top: 3px solid rgb(6, 6, 96);
    border-bottom: 1px solid rgb(6, 6, 96);
}

.h1-color {
    font-size: 40px;
    /* font-weight: 2700; */
}

.span-color1,
.span-color3 {
    color: red;
}

.h2-color {
    font-size: 28px;
    color: rgb(34, 37, 72);
}

.h4-color {
    font-size: 17px;
    color: rgb(0, 0, 0);
}


@media (max-width: 800px) {

    .searchBtn {
        left: 0;
    }

    .menuToggle {
        position: absolute;
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }

    header .navigation {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }

    header.open .navigation {
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 40px;
        border-top: 1px solid rgb(135, 131, 131);
    }

    .header.open .navigation li a {
        font-size: 1.25em;
    }

    .hide {
        display: none;
    }
}