<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Error</title>
    <link rel="stylesheet" href="./post.css" />
  </head>

  <body>
    <main class="main_error-form">
      <form class="error-form" action="/admin/add-error" method="POST">
        <div class="error_form-control">
          <label for="title">Error Title</label>
          <input type="text" name="title" id="title" autofocus />
        </div>
        <div class="error_form-control">
          <label for="category">Category</label>
          <input type="text" name="category" id="category" />
        </div>
        <div class="error_form-control">
          <label for="description">Description</label>
          <textarea
            type="text"
            name="description"
            id="description"
            rows="5"
          ></textarea>
        </div>
        <div class="error_form-control">
          <label for="image">Image</label>
          <input type="file" name="image" id="image" />
        </div>

        <button class="btn" type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
