* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(15, 33, 94);
}

label.logo a {
    font-size: 30px;
    font-weight: 400;
    color: rgb(252, 252, 252);
    padding: 0 100px;
    line-height: 80px;
}

label.logo a:hover {
    color: rgb(233, 237, 237);
}

.ul-link {
    float: right;
    margin-right: 40px;
}

.ul-link li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.ul-link li a {
    color: rgb(253, 253, 253);
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.ul-link a.active,
.ul-link a:hover {
    border: 1px solid rgb(198, 198, 202);
    transition: .5s;
}

nav #icon {
    color: white;
    font-size: 25px;
    line-height: 75px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}

.check {
    display: none;
}

/* searchbar */
.search-bar {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transition: .3s;
    overflow: hidden;
}

.search-bar .search-icon {
    position: absolute;
    left: 25px;
    top: 54%;
    transform: translate(-50%, -50%);
}

.search-bar.active {
    width: 400px;
}

.search-bar .search-icon .search {
    font-size: 20px;
    cursor: pointer;
    color: rgb(179, 172, 172);
}

.search-bar .input {
    position: relative;
    width: 300px;
    height: 40px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    outline: none;
}

.search-bar .input .clear {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 20px;
    color: rgb(185, 182, 182);
}

@media (max-width: 1048px) {
    label.logo {
        font-size: 25px;
        padding-left: 60px;
    }

    .ul-link {
        margin-right: 20px;
    }

    .ul-link li a {
        font-size: 17px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        display: block;
    }

    .ul-link {
        position: fixed;
        width: 100%;
        height: 350px;
        background-color: rgb(253, 253, 253);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .ul-link li a {
        color: black;
    }

    .ul-link li a:hover {
        color: rgb(6, 41, 239);
        border: none;
        transition: .5s;
    }

    .ul-link li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    .ul-link.show {
        left: 0;
    }
}

/* container------------------------ */

.x-container {
    max-width: 1400px;
    max-height: max-content;
    /* background-image: ; */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    line-height: 1.8rem;

}

.h1-color {
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(242, 9, 9);
}

.span-color2 {
    color: rgb(35, 2, 2);
}

.span-color1 {
    color: red;
}

.h2-color {
    margin: 1rem 0;
    font-size: 32px;
    color: rgb(21, 13, 13);
}

.h5-color {
    font-size: 19px;
    color: rgb(89, 92, 95);
    margin-top: 1rem;
}

.xx-container {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    text-shadow: #212529;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
    background-color: white !important;
    height: 350px;
    border-top: 3px solid rgb(6, 6, 96);
    border-bottom: 1px solid rgb(6, 6, 96);
}

.main-grid {
    /* width: 100%; */
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;

    /* ------------------- */
}

.second-grid {
    background-color: white;
}

.first-main_grid {
    border-right: 1px solid black;
}

/* div {
    border: 1px solid black;
} */

.d-grid {
    /* display: flex; */
    height: 70vh;
    border-bottom: 1px solid black;
}

.v-grid {
    height: auto;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 70% 30%;
    border: 1px solid blue;
}

.grid {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 6.5rem;
    border-bottom: 1px solid black;
    /* width: 100%; */
}

.nav-grid {
    position: relative;
    margin-left: 2rem;
    top: 2rem;
    /* left: 0rem; */
    font-size: 20px;
    height: 3rem;
}

.nav-grid a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.nav-btn {
    position: absolute;
    top: .2rem;
    right: 2rem;
}

.opt {
    margin-left: 5rem;
    /* overflow: scroll; */
}

.b-flex {
    display: flex !important;
    border-bottom: .5px solid black;
    height: 7rem;
}

.s-post-summary--stats ul li {
    /* gap: var(--su6); */
    margin: 15px;
    /* width: calc(var(--su96) + var(--su12)); */
    /* display: inline-b; */
    /* flex-direction: column; */
    /* flex-shrink: 0; */
    /* flex-wrap: wrap; */
    align-items: flex-end;
    font-size: 13px;
    list-style: none;
    display: block;
}

.title-header {
    align-items: flex-start;
    margin: 15px;
}

a,
.s-link {
    text-decoration: none;
    cursor: pointer;
    user-select: auto;
    font-size: 18px;
    color: rgb(41, 41, 142);
}

.post-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 12px;
}

.post-summary-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.d-inline {
    display: inline !important;
}

.list-is-none {
    list-style: none;
}

.post-tag {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 2rem;
}

.post-tag li a {
    display: inline-flex;
    font-size: 12px;
    text-decoration: none;
}

.tags {
    line-height: 18px;
    float: left;
}

.mr4 {
    margin-right: 6px;
}

.flex__item {
    color: rgb(44, 47, 232);
    background-color: rgb(202, 202, 241);
    padding: .2rem;
    border-radius: 3px;
}

.post-tag a:hover {
    background-color: rgb(205, 197, 197);
}


/* .s-user-card.s-user-card__minimal {
    /* display: flex; */
/* --_uc-link-ws: nowrap;
    --_uc-rep-fc: black;
    --_uc-time-ws: nowrap;
    --_uc-d: flex;
    --_uc-g: 4px;
    --_uc-p: 0;
    --_uc-info-ai: center;
    --_uc-info-fd: row; */
/* } */


/* .s-user-card {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.s-user-card-info {
    margin-top: 2rem;
    /* flex-direction: row; */
/* align-items: center;
} */

.s-user-card-info a {
    text-decoration: none;
}

.s-avatar {
    --_av-size: 16px;
    --_av-bg: hsl(0, 25%, 98%);
    --_av-br: 3px;
    --_av-fs-letter: 11px;
    --_av-scale-badge: 1;
    background-color: none;
    border-radius: var(--_av-br);
    height: var(--_av-size);
    width: var(--_av-size);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.s-user-card-info a {
    font-size: 12px;
}


/* .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
    align-content: flex-start;
    gap: 1em;
} */

/* .d-flax {    
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 8rem;
} */
/* 
.a-flax span {
    position: absolute;
    top: 3rem;
    font-size: 20px;
    margin-left: 1rem;
} */


@media screen {}